.item1 {
    background-color: rgb(202, 158, 121);
     padding: 14px 16px;
}
.item2 {
    background-color: rgb(202, 158, 121);
     padding: 14px 16px;
}
.item3 {
    background-color: rgb(202, 158, 121);
     padding: 14px 16px;
}
.item4 {
    background-color: rgb(202, 158, 121);
     padding: 14px 16px;
}